{% extends "base.html" %}
{% block content %}
    <div class="movies-container">
        <div class="add-movies">
            <a href="{% url "add_movie" %}">Add Movie</a>
        </div>
        {% for i in movies %}
        <div class="movies-card">
            <h1>{{i.title}}</h1>
            <span>{{i.genre}}</span>
            <p>{{i.description}}</p>
            <span>{{i.released_date}}</span>
        </div>
            <a href="{% url "details" i.id%}">View details</a>
        {% endfor %}
    </div>
{% endblock %}